
  .navbar {
    display: flex;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.3); 
  
  backdrop-filter: blur(10px); 
  width: 80%;
  height: 50px;
  border-radius: 40px;
  align-items: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
  .nav-links {
    display: flex;
    gap: 15rem;
  }
  
  .nav-link {
    color: #5512f3;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #000000;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 80px;
      right: 0;
      background-color: #333;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .hamburger {
      display: flex;
    }
  }
  